<!--To display the todos-->
<div>
    <h5>Overdue <span id ="count-overdue" ><%= overdue.length %></span></h5>
<table>
<% for(var i =0; i< overdue.length ; i++){%>
            <tr>
                <td>
                    <%= 
                    overdue[i].completed ? '[x]':'[ ]'
                    %>
                </td>
                <td>
                    <%= overdue[i].title %>
                </td>
                <td>
                    <%= overdue[i].dueDate %>
                </td>
            </tr>
        <% } %>
</table>
    
</div>
<div>
    <h5>Due Today <span id ="count-due-today" ><%= dueToday.length %></span></h5>
<table>
<% for(var i =0; i< dueToday.length ; i++){%>
            <tr>
                <td>
                    <%= 
                    dueToday[i].completed ? '[x]':'[ ]'
                    %>
                </td>
                <td>
                    <%= dueToday[i].title %>
                </td>
                <td>
                    <%= dueToday[i].dueDate %>
                </td>
            </tr>
        <% } %>
</table>
</div>
<div>
    <h5>Due Later <span id="count-due-later"> <%= dueLater.length %></span></h5>
<table>
<% for(var i =0; i< dueLater.length ; i++){%>
            <tr>
                <td>
                    <%= 
                    dueLater[i].completed ? '[x]':'[ ]'
                    %>
                </td>
                <td>
                    <%= dueLater[i].title %>
                </td>
                <td>
                    <%= dueLater[i].dueDate %>
                </td>
            </tr>
        <% } %>
</table>
</div>